#navbar {
    flex: 0;
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--text-bg-color);
    border-bottom: 3px solid;
    border-color: var(--text-fg-color);
}
