#navbar {
    flex: 0;
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--text-bg-color);
    border-bottom: 3px solid;
    border-color: var(--text-fg-color);
}

.logo-box {
    flex: 1 1 0px;
    justify-content: left;
    align-items: center;
    display: flex;
}

.title-box {
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-text {
    text-align: center;
    margin: 0 0;
    color: var(--text-fg-color);
}

.dropdown-box {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0px 20%;
    height: 100%; /* Fill the height of its container. */
}

.dropdown-text {
    text-align: center;
    color: var(--text-fg-color);
    font-size: 30px;
    width: 100%; /* Fill the width so that the dropdown a proper width */
}

.dropdown-item {
    color: var(--text-fg-color);
    text-decoration: none;
}

.content-seperator {
    flex-grow: 1;
}



