/* Main Landing class div  */
#main {
    width: 100%;
    height: var(--landing-height);
    background-color: var(--empty-pane-color);
}

/* Landing class CSS  */
.project-panel {
    /* 15*2 for padding. 90% because 2 content seperators.  */
    height: 20%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    padding-top: 10px;
}

.content-seperator {
    width: 100%;
    height: 5%;
}

