/* Main Landing class div  */
#main {
    width: 100%;
    height: var(--landing-height);
    background-color: var(--empty-pane-color);
    overflow-y: auto;
}

/* Landing class CSS  */
.project-panel {

    width: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    flex: 1 1 0px;

    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    padding-top: 10px;
}

.content-seperator {
    width: 100%;
    height: 5%;
}


/* Panel Ids */

/* Panel Classes */
.description-header {
    text-align: center;
    margin: 2px 0px;
    text-decoration: underline;
}

.description {
    margin: 5px 0px;
    text-align: left;
}

.demo-link {

}

.demo-button {
    width: 100%;
}
